@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .button {
    @apply bg-touch-color text-number-color font-bold bg-gray-200 rounded-sm shadow-sm shadow-gray-400 hover:brightness-110 active:translate-y-[1px];
  }
  .btnResetEquals {
    @apply bg-touch-color text-number-color font-bold col-span-2 shadow-sm rounded-sm hover:brightness-110 active:translate-y-[1px];
  }
}

.theme1 {
  --bg-calculator: #252d44;
  --background-input-color: ##181f32;
  --bg-body: #3b4664;
  --color: #ffffff;
  --number-color: #424a5b;
  --touch-color: #eae3db;
}
.theme2 {
  --bg-calculator: ##d3cdcd;
  --background-input-color: ##eeeeee;
  --bg-body: #e6e6e6;
  --color: #37372d;
  --number-color: #36362c;
  --touch-color: ##e5e4e0;
}
.theme3 {
  --bg-calculator: #1e0836;
  --background-input-color: #1e0836;
  --bg-body: #17062a;
  --color: #f2db4b;
  --number-color: #fee53e;
  --touch-color: #331b4d;
}
